html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.container-titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.container-formulario {
    width: 100%;
}

.container-inputs {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    width: 100%;
    padding: 10px 0;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #ddd;
}

.container-ruta {
    margin-top: 10px;
    text-align: center;
    color: #007Bff;
    cursor: pointer;
}

.container-ruta a{
    text-decoration: none;
    color: #007Bff;
}

.container-ruta:hover {
    text-decoration: underline;
}



